/* 
 * Author: Francis Nguyen, www.fmnguyen.com
 */

@import '_normalize.scss';
@import '_typography.scss';
@import '_animation.scss';

@mixin breakpoint($point) {
	@media only screen and (min-width: $point) {
		@content;
	}
}

@mixin horizontal-center {
	position: absolute;
	left: 50%;
	@include transform(translate(-50%, 0));
}

@mixin vertical-center {
	position: aboslute; 
	top: 50%;
	@include transform(translate(0, -50%));
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

/* Clearfix */
.clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    @extend .clearfix;
  }
  &:after {
    clear: both;
  }
}

.hidden {
	display: none;
}

body {
	background: url('../assets/geometry.png');
	background-repeat: repeat;
	background-size: 500px 500px;
	background-color: rgba( 76, 87, 101, 0.9);
	background-attachment: fixed;
	overflow-x: hidden;
}

.selected {
	background-color: #de6868 !important;
}

.login {
	@include center;
	@include transition(all 0.5s ease);
	h2 {
		margin-top: 10px;
	}
	#name-input {
		margin-top: 15px;
		input, input:focus {
			text-align: center;
			padding-bottom: 5px;
			border: none;
			outline: none;
			background-color: transparent;
			border-bottom: 1px solid #FFF;
			height: 40px;
			width: 400px;
			margin: 5px auto;
			display: block;
			font-size: 1.75em;
		}
	}
	.error {
	    padding-top: 5px;
	    color: #de6868;
	    font-size: 1.25em;
	    font-weight: bold;
	}
	#admin-login {
		color: black;
		margin-top: 5px;
		input, input:focus {
			text-align: left;
			padding-bottom: 5px;
			border: none;
			border-radius: 5px;
			padding-left: 10px;
			height: 30px;
			width: 400px;
			margin: 5px auto;
			display: block;
		}
	}
}

$grid-container-width: 600px;
$grid-spacing: 15px;

.game-content {
	width: 80%;
	height: 100vh;
	float: left;
	position: fixed;
	display: none;
	.game-container {
		background-color: rgba(255,	243, 207, 1.0);
		padding: $grid-spacing;
		border-radius: 3px;
		float: left;
		position: fixed;
		@extend .clearfix;
		@include center;
		top: 57% !important;
		.grid-container {
			width: $grid-container-width;
			height: $grid-container-width;
			@extend .clearfix;
		}
	}
	.img-header {
		position: fixed;
		top: 10px;
		@include horizontal-center;	
	}
}

.grid-row {
	float: left;
	margin-bottom: $grid-spacing;
	&:last-child {margin-bottom: 0;}
	@extend .clearfix;

	.grid-cell {
		height: $grid-container-width / 5 - $grid-spacing * 4 / 5;
		width: $grid-container-width / 5 - $grid-spacing * 4 / 5;
		display: block;
		position: relative;
		float: left;
    	border-radius: 3px;
		margin-right: $grid-spacing;
		background-color: #8BB6B0;
		&:last-child {margin-right: 0;}
		&:hover {cursor: pointer;}
		text-align: center;
	}

	.cell-data {
		@include center;
		text-align: center;
		width: 90%;
		font-size: 0.875em;
	}
}

.slideIn {
	@include transition(all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1.000));
	margin-right: 0 !important;
	right: 0 !important;
}

.chat-container {
	min-height: 100vh;
	height: auto;
	width: 20%;
	float: right;
	background-color: white;
	margin-right: -20vw;
	.chat-header {
		height: 50px;
		width: 20vw;
		border-bottom: 2px solid #a1a1a1;
		text-align: center;
		position: fixed;
		top: 0;
		right: -20vw;
		background-color: white;
		z-index: 1;
		span {
			font-size: 2.25em;
			color: #818892;
		}
	}

	#messages {
		width: 100%;
		position: relative;

		padding-top: 60px;
		padding-bottom: 100px;

	    -webkit-margin-start: 0;
	    -webkit-margin-after: 0;
	    -webkit-padding-start: 0;
	    -webkit-margin-before: 0;

		li {
			width: 85%;
			margin: 0 auto;
			display: block;
			list-style: none;
			p {
				max-width: 100%;
				margin: 10px 0;
			}
		}
	}

	.message-input {
		width: 20vw;
		height: 100px;
		position: fixed;
		bottom: 0px;
		right: -20vw;
		border-top: 2px solid #a1a1a1;
		background-color: white;

		#submit-message {
			height: 70px;
			width: 90%;
			display: block;
			margin-left: 5%;
			margin-top: 15px;
			margin-bottom: 15px;
			border: none;
			color: rgba(10, 10, 10, 0.7);
			font-size: 0.8em;  
			padding: 8px;
			background-color: #f3f3f3;

		    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		    box-sizing: border-box;         /* Opera/IE 8+ */

			&:focus {outline: none;}
		}
	}
}

